body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.searchbtn {
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 3px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    /* margin-top: 10px; */

}

.sidebar a {
    display: block;
    color: black;
    padding: 12px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.container {
    margin-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 0px; */
    /* margin-right: 5px; */
}

.image {
    padding: 50px;
}

/* Log in page css */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 14px 20px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;

}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.box {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/* Sign Up css */
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}