.Link {
    height: 50px;
    margin: 5px;
    padding: 7px;
    background-color: lightgray;
    text-decoration: none;
    font-size: large;
    color: black;
    text-align: center;
}

.Link:hover {
    background-color: gainsboro;
    color: rgba(0, 0, 0, 0.489);
}